.hook,
.gallery .navigation nav,
.no-rgba .gallery .navigation nav {
	background-color:transparent;
	background-image:url(bg1.jpg);
	background-position:center center;
}
.hook-c,
.gallery .navigation nav a {
	background-image:url(controls_w.png);	
}
