.rgba .thumbs ul li,
.rgba .folders ul li {
	background-color:rgba(0,0,0,0.1);
}
.no-rgba .thumbs ul li,
.no-rgba .folders ul li {
	background-color:transparent;
	background-image:url(k10.png);
}
.thumbs ul li > a:hover,
.thumbs ul li > a:focus,
.folders ul li:hover {
	background-color:rgba(0,0,0,0.2);
	outline:none;
	color:#000;
}
.no-rgba .thumbs ul li > a:hover,
.no-rgba .thumbs ul li > a:focus,
.no-rgba .folders ul li:hover {
	background-color:transparent;
	background-image:url(k20.png);
}
.rgba .thumbs ul li > a.active {
	background-color:rgba(0,0,0,0.8);
}
.no-rgba .thumbs ul li > a.active {
	background-color:transparent;
	background-image:url(k80.png);
}
#main article {
	background-color:rgba(0,0,0,0.2);
}
.no-rgba #main article {
	background-color:transparent;
	background-image:url(k20.png);
}

