.gallery .bottom nav {
	border:1px solid #878174;
	color:#222;
	background-color:#999;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,1)), color-stop(1, rgba(188,184,175,1)));
	background-image:-webkit-linear-gradient(top, rgba(255,255,255,1), rgba(188,184,175,1) );
	background-image:-moz-linear-gradient(top, rgba(255,255,255,1), rgba(188,184,175,1) );
	background-image:-ms-linear-gradient(top, rgba(255,255,255,1), rgba(188,184,175,1) );
	background-image:linear-gradient(top, rgba(255,255,255,1), rgba(188,184,175,1) );
	filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#FFFFFFFF,EndColorStr=#FFbcb8af);
	${bs_sl}
}
.hook-b,
.gallery .bottom nav a {
	border-left:1px solid #a59e8e;
	background-image:url(buttons_c.png);
}
.gallery .bottom nav a.active {
	background-color:rgba(0,0,0,0.2);
	border-left-color:#878174;
}
.no-rgba .gallery .bottom nav a.active {
	background-color:#a59e8e;
}
.hook-b,
.gallery .bottom .icon {
	background-image:url(buttons_c.png);
}

