.rgba .scrbar {
	background-color:rgba(0,0,0,0.1);
}
.no-rgba .scrbar {
	background-color:transparent;
	background-image:url(k10.png);
}
.scrbar div {
	background:transparent url(bg.jpg) center center;
}
