@charset "utf-8";

.rgba #main header .title {
	background-image:none;
	background-color:rgba(0,0,0,0.6);
	color:#fff;
}
.no-rgba #main header .title {
	background-image:url(k60.png);
	color:#fff;
}

<ja:include page="includes/items_legacy_dark.css" />

footer {
	color:${textColor};
}

