@charset "utf-8";

.rgba #main header .title {
	background-image:none;
	background-color:rgba(255,255,255,0.6);
	color:#000;
}
.no-rgba #main header .title {
	background-image:url(w60.png);
	color:#000;
}

<ja:include page="includes/hint_dark.css" />

<ja:include page="includes/items_bg_w60.css" />

<ja:include page="includes/footer_bg_w40.css" />

<ja:include page="includes/title_buttons_cr.css" />

<ja:include page="includes/scrbar_bg_cr.css" />

<ja:include page="includes/panels_bg_cr.css" />

<ja:include page="includes/controls_bg_cr.css" />

<ja:include page="includes/nav_buttons_cr.css" />

